
// slider variables:
$sliderItemsCount: 6;
$sliderWidth: 619px;
$sliderHeight: 436px;
$sliderMarginLeft: 70px;
$sliderMarginRight: 70px;
$sliderMarginTop: 70px;

body {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
}

.slider-with-navs {
  position: relative;
  width: $sliderWidth + $sliderMarginLeft + $sliderMarginRight;
}

#slider-wrapper {
    width: $sliderItemsCount*$sliderWidth;
    transform: translate(0, 0);
    transition: transform .5s ease-in-out;
}

.slider-content {
    float: left;
    width: $sliderWidth;
    height: $sliderHeight;
    white-space: normal;
    background-repeat: no-repeat;
}

#slider-content-container {
    width: $sliderWidth;
    height: $sliderHeight;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1), 42px -42px 0px 0px rgba(28,195,52,1);
    margin-left: $sliderMarginLeft;
    margin-right: $sliderMarginRight;
    margin-top: $sliderMarginTop;
    z-index: 1;
}

#nav-dots {
    text-align: center;
    width: $sliderWidth;
    margin: 0 auto;
    z-index: 2;
}

#nav-dots ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-top: 32px;
}

#nav-dots ul li {
  float: left;
  text-align: center;
  list-style: none;
  cursor: pointer;
  background-color: #d8d8d8;
  width: 22px;
  height: 4px;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  // padding: 10px;

  // zvetseni klikaci plochy tecek
  &::before {
    content: '';
    height: 30px;
    width: 22px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: block;
    margin-top: -13px;
  }
}

/* #nav-dots ul li:hover {
  background-color: #FFFF00;
} */

#nav-dots ul li.active {
  background-color: #212121;
}

/* #nav-dots ul li.active:hover {
  background-color: #484848;
  color: #FFFFFF;
} */

#nav-arrows  {
  position: absolute;
  top: 0;
  width: 100%;
  // 40px = vyska tecek, jinak na ne nejde klikat
  height: calc(100% - 40px);
  z-index: 2;
}

#nav-arrows ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

#nav-arrows ul li {
  list-style-type: none;
  display: inline-block;
  height: 100%;
  cursor: pointer;
  width: 50px;
}

#nav-arrows ul li.arrow-prev {
  float: left;
}

#nav-arrows ul li.arrow-next {
  float: right;
}

#nav-arrows ul li span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  vertical-align: middle;

  /* 50% - polovina vysky buttonu */
  position: absolute;
  top: calc(50% - 25px);

  z-index: -1;
}