body {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
}

.slider-with-navs {
  position: relative;
  width: 759px;
}

#slider-wrapper {
  width: 3714px;
  transform: translate(0, 0);
  transition: transform .5s ease-in-out;
}

.slider-content {
  float: left;
  width: 619px;
  height: 436px;
  white-space: normal;
  background-repeat: no-repeat;
}

#slider-content-container {
  width: 619px;
  height: 436px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1), 42px -42px 0px 0px #1cc334;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 70px;
  z-index: 1;
}

#nav-dots {
  text-align: center;
  width: 619px;
  margin: 0 auto;
  z-index: 2;
}

#nav-dots ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-top: 32px;
}

#nav-dots ul li {
  float: left;
  text-align: center;
  list-style: none;
  cursor: pointer;
  background-color: #d8d8d8;
  width: 22px;
  height: 4px;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}

#nav-dots ul li::before {
  content: '';
  height: 30px;
  width: 22px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: block;
  margin-top: -13px;
}

/* #nav-dots ul li:hover {
  background-color: #FFFF00;
} */
#nav-dots ul li.active {
  background-color: #212121;
}

/* #nav-dots ul li.active:hover {
  background-color: #484848;
  color: #FFFFFF;
} */
#nav-arrows {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 40px);
  z-index: 2;
}

#nav-arrows ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

#nav-arrows ul li {
  list-style-type: none;
  display: inline-block;
  height: 100%;
  cursor: pointer;
  width: 50px;
}

#nav-arrows ul li.arrow-prev {
  float: left;
}

#nav-arrows ul li.arrow-next {
  float: right;
}

#nav-arrows ul li span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  vertical-align: middle;
  /* 50% - polovina vysky buttonu */
  position: absolute;
  top: calc(50% - 25px);
  z-index: -1;
}

/*# sourceMappingURL=styles.css.map */