

.slider-with-navs {
  position: relative;
  width: calc(619px + 70px + 70px);
}

#slider-wrapper {
    width: 2476px;
    transform: translate(0, 0);
    transition: transform .5s ease-in-out;
}

.slider-content {
    float: left;
    width: 619px;
    height: 436px;
    white-space: normal;
    background-repeat: no-repeat;
}

#slider-content-container {
    width: 619px;
    height: 436px;
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow:  */
    margin-left: 70px;
    margin-right: 70px;
}


#slider-item-1 {
    /* background-color: #ADFF2F; */
    /* background-image: url("//www.kirupa.com/images/blueSquare.png"); */
}

#slider-item-2 {
    /* background-color: #FF7F50; */
    /* background-image: url("//www.kirupa.com/images/yellowSquare.png"); */
}

#slider-item-3 {
    /* background-color: #1E90FF; */
    /* background-image: url("//www.kirupa.com/images/pinkSquare.png"); */
}

#slider-item-4 {
    /* background-color: #DC143C; */
    /* background-image: url("//www.kirupa.com/images/graySquare.png"); */
}

#nav-dots {
    text-align: center;
    width: 550px;
}

#nav-dots ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-top: 32px;
}

#nav-dots ul li {
  float: left;
  text-align: center;
  list-style: none;
  cursor: pointer;
  background-color: #d8d8d8;
  width: 22px;
  height: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

/* #nav-dots ul li:hover {
  background-color: #FFFF00;
} */

#nav-dots ul li.active {
  background-color: #212121;
}

/* #nav-dots ul li.active:hover {
  background-color: #484848;
  color: #FFFFFF;
} */

#nav-arrows  {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#nav-arrows ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

#nav-arrows ul li {
  list-style-type: none;
  display: inline-block;
  height: 100%;
  cursor: pointer;
  width: 50px;
}

#nav-arrows ul li.arrow-prev {
  float: left;
}

#nav-arrows ul li.arrow-next {
  float: right;
}

#nav-arrows ul li span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  /* box-shadow:  */
  border: 1px solid;
  border-radius: 10px;
  vertical-align: middle;

  /* 50% - polovina vysky buttonu - vyska tecek */
  position: absolute;
  top: calc(50% - 25px - 40px);

  z-index: -1;
}